
.section-type-topo{
    font-style: normal;

}
h2{
    margin-left: 120px;
    margin-top: 45px;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    margin-left: 120px;
    margin-top: 45px;
    font-family: 'Lobster', cursive;
}
.favoritos-barra {
    background: rgb(255,0,0);
    width: 100%;
    color: #fff;
    font-size: 32px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.fav-save{
    display: inline;
    top: 32px;
    position: relative;
    margin-right: 2rem;
    float: right;

}
.audio-play{
    background-color: #0072c6;
    width: 400px;
    height: 255px;
    /* padding-top: 42px; */
    display: inline-block;
    margin-top: 72px;
}

.player{
    display: inline-block;
    position: relative;
    align-content: center;
    margin-top: 115px;
    margin-left: 50px;
}
.video-properity{
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    margin-top: 25px;
    height: 300px;
}
.canvas-drew{
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 171px;
    margin-top: 171px;
}
